.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.book {
  box-sizing: border-box;
  width: 31%;
  display: inline-block;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border: grey 1px solid;
  box-shadow: 5px 5px grey;
  margin-bottom: 1%;
  background-color: lightgoldenrodyellow;
}

.diffBooks {
  margin: 1%;
}

.diffBooks, .searchButton, .bookShelfButton {
  height: 40px;
  font-size: 20px;
}

.diffBooks, .searchButton {
  width: 100px;
}

label {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 2%;
}

.searchButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchInputs {
  display: inline-block;
  margin: 1%;
  margin-top: 0%;
}

.searchInputs > input {
  display: block;
  margin-bottom: 2%;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}