.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.diffBooks {
  margin: 1%;
}

label {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 3%;
}

.searchButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchInputs {
  display: inline-block;
  margin: 1%;
}

.searchInputs > input {
  display: block;
}